<!DOCTYPE html>
<html lang="en">
  <%- include ("./templates/head") %>
<body>
  <%- include ("./templates/header") %>
  <div id="main">
    <h1>Welcome to Algo-Visualizer</h1>
    <div class="d-flex flex-column"> 
      <div class="container pt-5 mt-5 d-flex flex-row align-items-center">
        <div class="h5">
          In <strong>Algo-Visualizer</strong> We wanted to make an easy way for developers to visualize and trace algorhtims and see the awesomeness of computer science
        </div>
        <img class="pulse" src="/style/images/p1.svg" alt="algorhtim logo image">
      </div>
      <div class="container pt-5 mt-5 d-flex flex-row-reverse align-items-center">
        <div class="h5">
          We were inspired by many projects online. And we wanted to add more resourses for people to see
        </div>
        <div class="circle ping"></div>
        <img src="/style/images/p2.svg" alt="algorhtim logo image">
      </div>
    </div>    
  </div>
  <%- include ("./templates/footer") %>
</body>
</html>