
table{
  background-color: whitesmoke;
}

td{
  width: 25px;
  height: 25px;
  border: 1px solid #00adb5;
}

#board{
  margin-left: 10px;
}

#s-img, #e-img, #u-img, #v-img, #p-img{
  width: 30px;
  height: 30px;
  margin-right: 1vw;
  background-color: whitesmoke;
}

#s-img{
  background-image: url('./images/start.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#e-img{
  background-image: url('./images/end.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#v-img{
  background-color: rgba(0, 190, 218, 0.75);
}

#p-img{
  background-color:  rgb(255, 254, 106);
}

.topMenu{
  margin-bottom: 2vh;
  padding: 0 10px;
}

.visualize{
  width: 10vw;
  height: 5vh;
  background-color: #00adb5;
  color: #00fff5;
  border: 1px solid #00fff5;
}

.visualize:hover{
  background-color: #00fff5;
  color: #00adb5;
  border: 1px solid #00adb5;
}

.clear, .algo{
  width: 10vw;
  height: 4vh;
  background-color: whitesmoke;
  text-align: center;
}

.clear:hover, .algo:hover{
  background-color: black;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.dropdown-menu{
  width: 10vw;
}

.unvisited{
  background-color: whitesmoke;
}

.visited{
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.wall{
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.start{
  background-image: url('./images/start.svg');
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.end{
  background-image: url('./images/end.svg');
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path{
  background-color: rgb(255, 254, 106);
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path-start{
  background-image: url('./images/start.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(255, 254, 106);
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path-end{
  background-image: url('./images/end.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(255, 254, 106);
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited-start{
  background-image: url('./images/start.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited-end{
  background-image: url('./images/end.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/*Key Frames*/

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes specialNodes {
  0% {
    transform: scale(.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1.0);
    /*background-color: darkslategrey;*/
  }
}

@keyframes triangletwo {
  0% {
    transform: scale(.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(255, 254, 106);
  }
}

